@import url('https://fonts.googleapis.com/css?family=Roboto|Solway:400,700&display=swap&subset=greek-ext');

$default-font: 'Roboto', sans-serif;
$special-font: 'Solway', serif;
$main-color: #2c2141;

body {
  margin: 0;
  background-image: url('https://assets.simpleviewcms.com/simpleview/image/upload/c_fill,h_900,q_75,w_1600/v1/clients/lasvegas/holiday_header_df388da4-5c05-44bf-9424-cf6ba2c194f5.jpg');
}

.wrap {
  width: 70%;
  margin: 5vh auto;
  font-family: $default-font;
  background-color: $main-color;
    h1 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: white;
      font-family: $special-font;
      padding: 16px;
    }
 }

.game {
  display: flex;
  margin-bottom: 3vh;
    .color {
      height: 30vh;
      flex-grow: 1;
      margin: 10px;
      border: 3px solid gray;
   }
 }
 
.play {
  text-align: center;
    .input  {
      height: 35px;
      font-size: 20px;
      padding: 20px;
      width: 300px;
      border: 3px solid black;
      text-align: center;
      margin-right: 16px;
    }
    .button {
      margin-top: 16px;
      width: 35%;
      height: 75px;
      text-align: center;
      padding: 20px 60px;
      font-size: 20px;
      font-family: $special-font;
      text-transform: uppercase;
      background-color: violet;
      border: solid 3px blueviolet;
      color: white;
      cursor: pointer;
      letter-spacing: 6px;
    }
 }
 
.panel {
  margin: 40px 0 30px;
  font-size: 18px;
  color: white;
  text-align: center;
 }

 .number {
   margin-right: 5px;
 }
    
.panel, .score {
    padding: 16px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.panel span, .score span {
      font-weight: bold;
      color: white;
      text-align: center;
}
 
 