@import url('https://fonts.googleapis.com/css?family=Roboto|Solway:400,700&display=swap&subset=greek-ext');

$default-font: 'Roboto', sans-serif;
$special-font: 'Solway', serif;
$main-color: #2c2141;


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
